.card {
	max-width: 293px;
	background: #fff;
	color: #000;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: -7px -3px 4px rgba(0, 0, 0, 0.18);
}

.card h4::selection, .card p::selection {
	background-color: #0768DE;
	color: #fff;
}

.card h4 {
	font-size: 20px;
	padding: 9px 13px 0;
	margin: 0 0 7px;
}

.card p {
	margin: 0;
	color: #414346;
	padding: 0 30px 16px 13px;
}

.card img {
	max-width: 293px;
	max-height: 142px;
}