.buttons {
	display: flex;
	align-items: center;
}

.buttons span {
	margin: 0 12px;
}

@media (max-width: 732px) {
	.buttons span {
		display: none
	}
	.buttons{
		flex-direction: column;
	}
	.buttons a {
		margin-bottom: 10px;
	}
}